<%= form_with(model: group) do |f| %>
  <%= render partial: "shared/form_errors", locals: { record: group } %>

  <div class="form-input">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-input">
    <%= f.submit %>
  </div>
<% end %>
