<h1>Groups</h1>

<div class="links">
  <%= link_to "New", new_group_path %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to "##{group.id}", edit_group_path(group) %></td>
        <td><%= group.name %></td>
        <td><%= button_to "Destroy", group_path(group), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="links">
  <%= link_to "Back", root_path %>
</div>

