<%= form_with(model: active_field, scope: :active_field, url: active_field_path(active_field)) do |f| %>
  <%= render partial: "shared/form_errors", locals: { record: active_field } %>

  <div class="form-input">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-input">
    <%= f.submit %>
  </div>
<% end %>
