<%= form_with(model: author) do |f| %>
  <%= render partial: "shared/form_errors", locals: { record: author } %>

  <div class="form-input">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-input">
    <%= f.label :group_id %>
    <%= f.collection_select :group_id, Group.order(:id), :id, :name, include_blank: true %>
  </div>

  <%= f.fields_for :active_values, author.active_values.sort_by(&:active_field_id) do |active_fields_form| %>
    <%= render_active_value_input(form: active_fields_form, active_value: active_fields_form.object) %>
  <% end %>

  <div class="form-input">
    <%= f.submit %>
  </div>
<% end %>
