<%= form_with(model: active_field, scope: :active_field, url: active_fields_path) do |f| %>
  <%= render partial: "shared/form_errors", locals: { record: active_field } %>

  <%= f.hidden_field :type, { name: "type", value: active_field.type_name } %>

  <div class="form-input">
    <%= f.label :customizable_type %>
    <%= f.select :customizable_type, %w[Author] %>
  </div>

  <div class="form-input">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-input">
    <%= f.label :required %>
    <%= f.check_box :required %>
  </div>

  <div class="form-input">
    <%= f.label :min %>
    <%= f.date_field :min %>
  </div>

  <div class="form-input">
    <%= f.label :max %>
    <%= f.date_field :max %>
  </div>

  <div class="form-input">
    <%= f.label :default_value %>
    <%= f.date_field :default_value %>
  </div>

  <div class="form-input">
    <%= f.submit %>
  </div>
<% end %>
