<%= form_with(model: active_field, scope: :active_field, url: active_fields_path) do |f| %>
  <%= render partial: "shared/form_errors", locals: { record: active_field } %>

  <%= f.hidden_field :type, { name: "type", value: active_field.type_name } %>

  <div class="form-input">
    <%= f.label :customizable_type %>
    <%= f.select :customizable_type, %w[Author] %>
  </div>

  <div class="form-input">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-input">
    <%= f.label :min_size %>
    <%= f.number_field :min_size %>
  </div>

  <div class="form-input">
    <%= f.label :max_size %>
    <%= f.number_field :max_size %>
  </div>

  <div class="form-input">
    <%= f.label :min %>
    <%= f.number_field :min, step: "any" %>
  </div>

  <div class="form-input">
    <%= f.label :max %>
    <%= f.number_field :max, step: "any" %>
  </div>

  <div class="form-input">
    <%= f.label :precision %>
    <%= f.number_field :precision, min: 0 %>
  </div>

  <%=
    render partial: "shared/array_input", locals: {
      form: f,
      name: :default_value,
      value: active_field.default_value,
      field_method: :number_field,
      field_opts: { step: "any" },
    }
  %>

  <div class="form-input">
    <%= f.submit %>
  </div>
<% end %>
