<div><%= link_to "Users", users_path %></div>
<div><%= link_to "Authors", authors_path %></div>
<div><%= link_to "Groups", groups_path %></div>
<div><%= link_to "Posts", posts_path %></div>
<div><%= link_to "Active Fields", active_fields_path %></div>
