<%= form_with(model: post) do |f| %>
  <%= render partial: "shared/form_errors", locals: { record: post } %>

  <div class="form-input">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-input">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="form-input">
    <%= f.label :author_id %>
    <%= f.collection_select :author_id, Author.order(:id), :id, :name, include_blank: true %>
  </div>

  <%= f.fields_for :active_fields, post.initialize_active_values.sort_by(&:active_field_id), include_id: false do |active_fields_form| %>
    <%= active_fields_form.hidden_field :name %>
    <%= render_active_value_input(form: active_fields_form, active_value: active_fields_form.object) %>
  <% end %>

  <div class="form-input">
    <%= f.submit %>
  </div>
<% end %>
