<%= form_with(model: post) do |f| %>
  <%= render partial: "shared/form_errors", locals: { record: post } %>

  <div class="form-input">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-input">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="form-input">
    <%= f.label :author_id %>
    <%= f.collection_select :author_id, Author.order(:id), :id, :name, prompt: true %>
  </div>

  <%= f.fields_for :active_values_attributes do |active_fields_form| %>
    <% post.active_fields.each do |active_field| %>
      <%= render_active_field_input(form: active_fields_form, record: post, active_field: active_field) %>
    <% end %>
  <% end %>

  <div class="form-input">
    <%= f.submit %>
  </div>
<% end %>
