<h1>Posts</h1>

<div class="links">
  <%= link_to "New", new_post_path %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to "##{post.id}", edit_post_path(post) %></td>
        <td><%= post.title %></td>
        <td><%= post.author&.name %></td>
        <td><%= button_to "Destroy", post_path(post), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="links">
  <%= link_to "Back", root_path %>
</div>

